<br>
<div class="container" style="margin-top: 2%; background-color: #ededed">
    <div class="row">
        <div class="col-sm-4">
            <div class="produit-image">
                <div class="view hm-zoom z-depth-2" style="cursor: pointer">
                    <!-- <img [src]="https://api.atouts.org/files/{{item.photo}}" [alt]="produit.productName" width="100%" class="img-fluid rounded"> -->
                    <img alt="example" src="https://api.atouts.org/files/{{echange.photo}}" />
                </div>
                <br>
                <div class="col-sm-8 col-md-12">
                    <div class="produit-detail">
                        <h5 class="produit-head">Détail du produit</h5>
                        <table class="table" cellspacing="0" style="max-height: 28px">
                            <tbody>
                                <tr>
                                    <th scope="row">Désignation</th>
                                    <td>{{echange.nom}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Description</th>
                                    <td>{{echange.description}}</td>
                                </tr>
                                <!-- <tr>
                                    <th scope="row">Nom et prénom de l'échangeur</th>
                                    <td>{{prorietaire.nom}}</td>
                                    <td>{{prorietaire.prenom}}</td>
                                </tr> -->
                                <tr>
                                    <th scope="row">Contact de l'échangeur</th>
                                    <td>{{echange.tel}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 col-md-6">
                        <button nz-button nzType="primary" style="margin-left:10px;" (click)="onReturnMarket()"><i nz-icon>retour</i></button>

                    </div>
                    <div class="col-sm-3 col-md-6">
                        <a href="https://wa.me/{{telephone}}?text=Salut%20%21%20Votre%20article%20mis%20en%20%C3%A9change%20sur%20www.atouts.org%20m%27int%C3%A9resse.%20Vous%20voudrez%20bien%20m%27indiquer%20la%20valeur%20%C3%A0%20fournir%20en%20contrepartie.%20Merci"><img height="40" alt="example" src="assets/images/whatsapp.png" /></a>

                    </div>
                </div>


            </div>
        </div>

    </div>
</div>