<br>
<br>
<div class="container">
    <div class="container-fluid">

        <div class="col-md-12 align-self-center text-center text-md-left">
            <div class="card" style="padding: 10px; text-align: justify;">
                <p>Le 05 d&eacute;cembre 2001, il sonnait 7h 10, quand nous nous sommes rendus au champs de l'oncle Chabi pour la r&eacute;colte du ma&iuml;s. C'&eacute;tait le dixi&egrave;me champ entam&eacute; sur les 14 pr&eacute;vus par l&rsquo;association
                    des cultivateurs du village. Le concept &eacute;tait simple. S'unir en groupe pour travailler dans le champs d'un confr&egrave;re et continuer ainsi jusqu'au tour de la derni&egrave;re personne. A d&eacute;faut de disposer d'argent
                    pour financer la r&eacute;colte ou d&rsquo;acqu&eacute;rir une moissonneuse, nous nous r&eacute;unissons en <strong>groupe de travail collaboratif</strong>. Cela permet de garantir la r&eacute;colte mais aussi renforce les liens de
                    solidarit&eacute; entre les paysans du m&ecirc;me village. Le r&eacute;sultat est pareil si nous exportons le <strong>syst&egrave;me</strong> &agrave; n'importe quelle phase de la production de bien et spectaculaire en l'impl&eacute;mentait
                    sur chaque besoin de <strong>bien-&ecirc;tre</strong>. Nous sommes capables de cr&eacute;er plus de valeurs lorsque nous sommes en groupe qu'individuellement. Mieux encore, la potentialit&eacute; d'un individu est largement sup&eacute;rieure
                    &agrave; ses besoins vitaux. C'est ce qu'explique <strong>D<sup>r</sup> VICTOR PAUCHET</strong> dans LE CHEMIN DU BONHEUR&nbsp;: &lt;&lt;<strong>Chaque homme vaut dix fois plus qu'il n'est actuellement</strong>&gt;&gt;.</p>

                <p>ATOUTS est une association n&eacute;e en 2006 &agrave; Parakou et enregistr&eacute;e sous le N&deg;2017/2060/DEP-LIT/SG/SAG-ASSOC du 18 ao&ucirc;t 2017 &agrave; Cotonou, au BENIN.</p>
                <p>L'approche Atouts se fonde sur un paradoxe et sur les six (06) r&eacute;alit&eacute;s scientifiques suivantes&nbsp;:</p>
                <ul>
                    <li><strong>&laquo;&nbsp;Tous les &ecirc;tres humains expriment les m&ecirc;mes besoins fondamentaux&nbsp;(Maslow)&nbsp;: se nourrir, se soigner, se v&ecirc;tir, se loger &raquo;.</strong></li>
                    <li><strong>&laquo;&nbsp;Chaque homme vaut dix fois plus qu&rsquo;il n&rsquo;est actuellement ! &raquo; D<sup>r</sup> VICTOR PAUCHET.</strong></li>
                    <li><strong>La vie est organis&eacute;e en groupes sociaux. Les besoins des uns sont trait&eacute;s par les autres et vice versa. </strong></li>
                    <li><strong>La consommation n&rsquo;est comprise que par les sens que les hommes lui accordent.</strong></li>
                    <li><strong>Le hasard n&rsquo;existe que pour celui qui le croit.</strong></li>
                    <li><strong>Toutes les ressources sont profitables si l&rsquo;on s&rsquo;y prend avec positivit&eacute;.</strong></li>
                </ul>
                <p><strong><u>Paradoxe Atouts </u></strong></p>
                <p>Les monnaies traditionnelles (tous les moyens d&rsquo;&eacute;change discontinus&nbsp;: troc physique, sel, cauris, or,&hellip;, pi&egrave;ces et billets de banque) ont am&eacute;lior&eacute; les &eacute;changes en offrant de la mesure,
                    de la simplicit&eacute;, de la portabilit&eacute; et de l&rsquo;&eacute;pargne. Elles sont devenues signe de pouvoir. Quand vous l&rsquo;avez, vous avez de l&rsquo;avantage sur votre entourage. Ce peut &ecirc;tre aussi bien dans la
                    vie professionnelle que personnelle.</p>
                <p>De facilitateur d&rsquo;&eacute;change, l&rsquo;argent est devenu un &laquo;&nbsp;bien&nbsp;&raquo; dont le constituant est mitig&eacute; &agrave; l&rsquo;aval. En amont, tout producteur doit attendre le d&eacute;tenteur de l&rsquo;instrument
                    avant de subvenir &agrave; ses besoins sans oublier les limites de l&rsquo;&eacute;change en termes de montant. Autrement dit, le fermier malade mourra tant qu&rsquo;il n&rsquo;a trouv&eacute; d&rsquo;acheteur pourvoyeur d&rsquo;argent
                    d&rsquo;une part, et ne peut vendre qu&rsquo;&agrave; hauteur des monnaies d&eacute;tenues par les consommateurs d&rsquo;autre part.</p>
                <p><strong><em>Sachant que la capacit&eacute; productive d&rsquo;un individu x est largement sup&eacute;rieure &agrave; sa consommation maximale rationnelle, pourquoi n&rsquo;arrive-t-il pas &agrave; satisfaire ses besoins, m&ecirc;mes les plus primordiaux&nbsp;? </em></strong></p>
                <p>Soient&nbsp;:</p>
                <p>Cr = consommation rationnelle,</p>
                <p>P &nbsp;&nbsp;= potentialit&eacute; ou capacit&eacute; de production,</p>
                <p>Bv= besoins vitaux ou &eacute;tat de pauvret&eacute; ou de manque,</p>
                <p>Ra = revenu actuel</p>
                <p>et Pr = production r&eacute;elle</p>
                <p>Si P &gt;&gt; Cr pourquoi Ra &lt;&lt;Bv&nbsp;?,</p>
                <p>Or Ra = Pr d&rsquo;o&ugrave; Pr &lt;&lt;Bv alors <strong><em>il faut corriger la Pr</em></strong></p>
                <p><u>Objectif Global</u></p>
                <p>Accroissement du pouvoir d&rsquo;achat des populations pour un bien-&ecirc;tre social id&eacute;al</p>
                <p><u>Objectifs sp&eacute;cifiques</u></p>
                <ul>
                    <li>Mettre en place un syst&egrave;me de r&eacute;mun&eacute;ration dynamique, continue et transparente, capable de minimiser la d&eacute;pr&eacute;ciation sociale de valeurs.</li>
                    <li>Renforcer les liens de solidarit&eacute; sociale par des co-productions actives</li>
                    <li>Temporiser ou conserver les valeurs de fa&ccedil;on plus performante.</li>
                </ul>
                <p><u>Synth&egrave;se</u></p>
                <p>Un nouveau mod&egrave;le social&nbsp;: la mon&eacute;tisation int&egrave;gre (&eacute;change direct, continuit&eacute; des efforts par la conservation et le d&eacute;veloppement de la valeur ajout&eacute;e) et l&rsquo;&eacute;conomie collaborative.</p>
                <strong><strong>Trois garanties d&rsquo;Atouts&nbsp;: l&rsquo;emploi dynamique, la r&eacute;&eacute;ducation de soi et le bonheur</strong></strong>
                <p><strong>&nbsp;</strong></p>
                <p><strong>CHARTE ATOUTS</strong></p>
                <p><strong>ARTICLE 1</strong></p>
                <p>La pr&eacute;sente charte, constitu&eacute;e de vingt-cinq (25) articles, d&eacute;finit les modalit&eacute;s d&rsquo;adh&eacute;sion &agrave; l&rsquo;association Afrique Atouts (ATOUTS) enregistr&eacute;e sous le N&deg;2017/2060/DEP-LIT/SG/SAG-ASSOC
                    du 18 ao&ucirc;t 2017.</p>
                <p><strong>ARTICLE 2</strong></p>
                <p>Le titre de membre est attribu&eacute; &agrave; toute personne poss&eacute;dant un compte en valeur au sein de l&rsquo;association.</p>
                <p><strong>ARTICLE 3</strong></p>
                <p>Les comptes sont ouverts en ligne et pour une dur&eacute;e ind&eacute;termin&eacute;e &agrave; toute personne &acirc;g&eacute;e d&rsquo;au moins quinze (15) ans.</p>
                <p><strong>ARTICLE 4</strong></p>
                <p>Un membre ne peut d&eacute;tenir plusieurs comptes d&rsquo;op&eacute;rations.</p>
                <p><strong>ARTICLE 5</strong></p>
                <p>Tout membre peut v&eacute;rifier ses relev&eacute;s en ligne et aviser le CA des erreurs ou inexactitudes dans un d&eacute;lai de quinze (15) jours maximum. A d&eacute;faut, le CA pourra consid&eacute;rer les donn&eacute;es figurant dans
                    les relev&eacute;s comme d&eacute;finitivement approuv&eacute;es et serviront de preuves des op&eacute;rations effectu&eacute;es.</p>
                <p><strong>ARTICLE 6</strong></p>
                <p>Le membre autorise ATOUTS de mani&egrave;re explicite &agrave; d&eacute;biter son compte des montants y vers&eacute;s erron&eacute;ment ou par suite d&rsquo;un ordre irr&eacute;gulier, faux ou falsifi&eacute; et en g&eacute;n&eacute;ral
                    des montants de tout paiement indu vers&eacute; sur le compte, &eacute;ventuellement m&ecirc;me en d&eacute;passement du solde cr&eacute;diteur disponible ou d&rsquo;une ligne d&rsquo;&eacute;change &agrave; terme.</p>
                <p><strong>ARTICLE 7</strong></p>
                <p>Les r&egrave;gles de fonctionnement des comptes peuvent &ecirc;tre modifi&eacute;es &agrave; tout moment par l&rsquo;association, sous r&eacute;serves du respect des exigences l&eacute;gales notamment l&rsquo;information pr&eacute;alable
                    des membres.
                </p>
                <p><strong>ARTICLE 8</strong></p>
                <p>La gestion des comptes entraine des frais mensuels (h&eacute;bergement, maintenances, protection, conservation, recherche-d&eacute;veloppement) en nature &agrave; la charge du titulaire et &eacute;valu&eacute;s par le Conseil d&rsquo;Administration
                    (CA).
                </p>
                <p><strong>ARTICLE 9</strong></p>
                <p>ATOUTS d&eacute;cline toute responsabilit&eacute; en ce qui concerne les valeurs remises aux conseillers sans aucune approbation du CA ni une souscription formelle. Par ailleurs, toute op&eacute;ration effectu&eacute;e sur la plateforme
                    et ayant impact&eacute; le compte du membre donne droit &agrave; une notification sous forme de messages directs ou t&eacute;l&eacute;phoniques ou &eacute;lectroniques ou une quittance manuelle lorsqu&rsquo;il s'agit des mobilisations.</p>
                <p><strong>ARTICLE 10</strong></p>
                <p>Tout membre confirme que les valeurs d&eacute;pos&eacute;es sur son compte ne proviennent pas de sources ou activit&eacute;s ill&eacute;gales. Il accepte la coproduction consommation de valeurs &agrave; travers des unit&eacute;s internes
                    et partenaires.
                </p>
                <p><strong>ARTICLE 11</strong></p>
                <p>Les valeurs disponibles dans les comptes sont estim&eacute;es en atouts (<span style="text-decoration: line-through;">oo</span>) et ne peuvent en aucun cas &ecirc;tre &eacute;chang&eacute;es contre des devises financi&egrave;res. Les atouts
                    peuvent faire objet d&rsquo;&eacute;change diff&eacute;r&eacute; moyennant des arr&eacute;rages.</p>
                <p><strong>ARTICLE 12</strong></p>
                <p>Seules les valeurs mobilisables sont accept&eacute;es en &eacute;pargne pour le financement des unit&eacute;s de coproduction. Le d&eacute;tenteur doit &ecirc;tre majeur.</p>
                <p><strong>ARTICLE 13</strong></p>
                <p>Tous les &eacute;changes (achat, troc, solde, relev&eacute;, transfert de compte &agrave; compte...) entre membres sont faits &agrave; distance par le biais d&rsquo;une plateforme disponible 24 heures sur 24 et 7 jours sur 7. Les tarifs
                    des biens sont exprim&eacute;s en fonction d&rsquo;un taux BCCV (Biens &agrave; Cr&eacute;dit, au Comptant ou en Nature) indiquant le pourcentage en nature de chaque transaction. Le taux BCCV est de 15% au moins quelle que soit la
                    nature du bien.
                </p>
                <p><strong>ARTICLE 14</strong></p>
                <p>Les articles sont publi&eacute;s sur deux march&eacute;s&nbsp;: Produits/Services et &Eacute;changes. Ils appartiennent &agrave; un ou plusieurs membres biens d&eacute;finis dans une convention &eacute;crite et approuv&eacute;e par toutes
                    les parties prenantes Ils sont fournis avec leurs posologies, manuels ou guides d'utilisation et les d&eacute;tails des composants primaires. Les publications sp&eacute;culatives sont interdites.</p>
                <p><strong>ARTICLE 15</strong></p>
                <p>Les biens achet&eacute;s sur le march&eacute; des produits et services sont livr&eacute;s et garantis par le CA, contrairement &agrave; ceux d&rsquo;&Eacute;change qui ne jouissent d&rsquo;aucune couverture. Dans ce dernier cas, le march&eacute;
                    &Eacute;change, la responsabilit&eacute; de Atouts ne peut &ecirc;tre engag&eacute;e.</p>
                <p><strong>ARTICLE 16</strong></p>
                <p>Les produits et services achet&eacute;s ne peuvent &ecirc;tre retourn&eacute;s mais &eacute;chang&eacute;s sur le march&eacute; d&rsquo;Echanges. Les services sont assujettis de frais d&rsquo;enregistrement et /ou d'&eacute;tude et/ ou
                    de prise en charge. Ils sont &agrave; la charge du souscripteur et non remboursables.</p>
                <p><strong>ARTICLE 17</strong></p>
                <p>La plateforme est ouverte &agrave; tous les membres et accessible par un mat&eacute;riel compatible avec les normes t&eacute;l&eacute;matiques. Le membre y acc&egrave;de gr&acirc;ce aux identifiants qui lui sont communiqu&eacute;s d&egrave;s
                    approbation de son adh&eacute;sion par le CA. En cas de vol ou de perte des donn&eacute;es confidentielles, il a la possibilit&eacute; de les r&eacute;initialiser en ligne ou aviser le CA par mail ou autre moyen disponible.</p>
                <p>&nbsp;</p>
                <p><strong>ARTICLE 18</strong></p>
                <p>Toute ou partie de l'&eacute;pargne du membre peut faire objet de saisi en cas de fraude ou d'acte de mauvaise foi ou de mise en cause du bien-&ecirc;tre d'autrui. Aussi, en cas d&rsquo;&eacute;change &agrave; terme, les valeurs en r&eacute;serve
                    constitu&eacute;e ou en cours d'&eacute;pargne sont nanties &agrave; hauteur des engagements du membre pendant la dur&eacute;e de l'&eacute;change.</p>
                <p><strong>ARTICLE 19</strong></p>
                <p>Les donn&eacute;es informatiques ou &eacute;lectroniques enregistr&eacute;es par ATOUTS font office de preuves des op&eacute;rations ainsi que des ordres, avis ou informations &eacute;chang&eacute;es par voie &eacute;lectronique, quel
                    que soit le support sur lequel ces donn&eacute;es sont enregistr&eacute;es. Pour ces op&eacute;rations &eacute;lectroniques, la signature &eacute;lectronique remplace la signature manuscrite du membre.</p>
                <p><strong>ARTICLE 20</strong></p>
                <p>Le membre et ATOUTS sont responsables de l&rsquo;ex&eacute;cution des engagements qu&rsquo;ils ont souscrits dans le cadre des services offerts sur la plateforme. L&rsquo;association s&rsquo;engage &agrave; mettre en &oelig;uvre les moyens
                    utiles pour assurer aux membres l&rsquo;acc&egrave;s aux services dans la limite d&rsquo;une obligation de moyens. Elle a pris toutes les mesures techniques tendant &agrave; assurer la protection de la confidentialit&eacute; des informations
                    accessibles et de leur transmission. Elle ne pourra de ce fait voir sa responsabilit&eacute; recherch&eacute;e que s&rsquo;il est &eacute;tabli &agrave; sa charge une faute de sa part.</p>
                <p>Le membre s&rsquo;engage notamment au respect des conditions d&rsquo;utilisation des services et particuli&egrave;rement au respect des instructions li&eacute;es &agrave; la s&eacute;curit&eacute; du service. En cons&eacute;quence, ATOUTS&nbsp;ne
                    saurait notamment &ecirc;tre tenue pour responsable, et l&rsquo;abonn&eacute;s ne pourra pr&eacute;tendre &agrave; aucune indemnit&eacute;, des cons&eacute;quences quelles qu&rsquo;elles soient r&eacute;sultant notamment&nbsp;:</p>
                <ul>
                    <li>Du non-respect des proc&eacute;dures d&rsquo;utilisation de la plateforme</li>
                    <li>De l&rsquo;usage frauduleux ou abusif r&eacute;sultant notamment de la divulgation du num&eacute;ro de t&eacute;l&eacute;phone du membre, du mot de passe et autre information confidentielle.</li>
                    <li>De la communication d&rsquo;informations fausses, inexactes ou incompl&egrave;tes, de la lenteur &eacute;ventuelle du transport des donn&eacute;es ou de la saturation, et de fa&ccedil;on plus g&eacute;n&eacute;rale de la qualit&eacute;
                        quelle qu&rsquo;elle soit de ce transport de donn&eacute;es</li>
                    <li>Du mauvais fonctionnement ou de l&rsquo;interruption des prestations pour des raisons r&eacute;sultant de pannes, interventions de maintenance, de la force majeure, du cas fortuit ou du fait d&rsquo;un tiers, notamment des liaisons
                        informatiques ou du r&eacute;seau de t&eacute;l&eacute;communications, ou de fourniture du courant &eacute;lectrique, ou d&rsquo;inad&eacute;quation du mat&eacute;riel informatique et des logiciels utilis&eacute;s ou du mat&eacute;riel
                        t&eacute;l&eacute;phonique.
                    </li>
                </ul>
                <p>&nbsp;Au cas o&ugrave; la responsabilit&eacute; de l&rsquo;association serait &eacute;tablie, seul le pr&eacute;judice personnel, pr&eacute;visible, mat&eacute;riel et direct du membre donnera lieu &agrave; r&eacute;paration&nbsp;en nature.
                    Aucune r&eacute;paration p&eacute;cuniaire ne peut &ecirc;tre engag&eacute;e par l&rsquo;association quelle que soit la nature des dommages.</p>
                <p><strong>ARTICLE 21</strong></p>
                <p>La cr&eacute;ation continue et rationnelle de valeur ajout&eacute;e est l&rsquo;unit&eacute; d&rsquo;identification de tout membre. Elle est d'au moins cinq mille (5&nbsp;000) atouts par jour. Il s'engage &agrave; coproduire avec les autres
                    membres de l&rsquo;association et accro&icirc;tre ses r&eacute;serves de valeurs.</p>
                <p><strong>ARTICLE 22</strong></p>
                <p>Les op&eacute;rations de virement et d'&eacute;mission de bon de paiement sont assujetties de commissions en atouts qui sont respectivement de 1,5% et 1% du montant. Le montant d'un bon est sup&eacute;rieur ou &eacute;gal &agrave; 500
                    atouts. Le bon est aussi caract&eacute;ris&eacute; par une date d&rsquo;expiration &agrave; laquelle sa valeur devient nulle.</p>
                <p><strong>ARTICLE 23</strong></p>
                <p>ATOUTS peut r&eacute;silier le contrat de tout membre en cas de d&eacute;c&egrave;s ou fautes lourdes (activit&eacute;s illicites ou ill&eacute;gales, fraudes) moyennant un pr&eacute;avis de deux (2) mois.</p>
                <p><strong>ARTICLE 24</strong></p>
                <p>Pour l&rsquo;interpr&eacute;tation et l&rsquo;ex&eacute;cution des pr&eacute;sentes, les tribunaux nationaux seront comp&eacute;tents.</p>
                <p><strong>ARTICLE 25</strong></p>
                <p>L&rsquo;acc&egrave;s au compte par le membre, d&egrave;s la premi&egrave;re connexion ou l&rsquo;apposition de la mention &laquo;&nbsp;lu et approuv&eacute;&nbsp;&raquo;&nbsp;et une signature manuelle sur une copie imprim&eacute;e des
                    articles ci-dessus cit&eacute;s, entraine l&rsquo;acceptation de la pr&eacute;sente charte avec effet imm&eacute;diat.</p>
                <p>&nbsp;</p>
            </div>

        </div>
    </div>
</div>