<!-- <div class="row">
    <div class="col-md-10">
        <div class="col-md">
            <div class="col-md-6">
                <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
                    <input type="email" [(ngModel)]="email" nz-input placeholder="input
            search text" />
                </nz-input-group>
                <ng-template #suffixButton>
                    <button nz-button nzType="primary" (click)="forget()" nzSearch>Search</button>
                </ng-template>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="forget-passeword">
    <div class="error-page-int">
        <div class="text-center ps-recovered">
            <h3>PASSWORD RECOVER</h3>
            <p>Please fill the form to recover your password</p>
        </div>
        <div class="content-error">
            <div class="hpanel">
                <div class="panel-body poss-recover">
                    <p>
                        Enter your email address and your password will be reset
                        and emailed to you.
                    </p>
                    <form action="#" id="loginForm">
                        <div class="form-group col-md-6 col-sm-12">
                            <label class="control-label" for="username">Email</label>
                            <input type="text" placeholder="example@gmail.com"
                                title="Please enter you email adress"
                                required="" value="" name="username"
                                id="username" class="form-control">
                            <span class="help-block small">Your registered email
                                address</span>
                        </div>

                        <button class="btn btn-success" (click)="forget()">Reset
                            password</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="text-center login-footer">
            <strong>Copyright &copy; 2020
                <a href="https://atouts.com">atouts </a>.
            </strong> All rights

        </div>
    </div>
</div> -->




<nz-layout>
    <nz-header>
        <nz-header class="white-bg header-border fixed ant-layout-header">

            <div class="container">
                <div class="logo" style="text-align: left; margin-right: 5px;">
                    <img src="assets/images/banner.jpg">
                </div>


                <nz-tabset nzSize="small" [(nzSelectedIndex)]="selectedIndex" (nzSelectChange)="log(selectedIndex)">
                    <nz-tab *ngFor="let tab of tabs" [nzTitle]="titleTemplate">
                        <ng-template #titleTemplate> <i nz-icon [nzType]="tab.icon"></i>{{ tab.name }} </ng-template>
                    </nz-tab>
                </nz-tabset>
            </div>

        </nz-header>

    </nz-header>
    <nz-content>
        <div class="section-1-container section-container">
            <nz-card style="width: 50%;" style="margin: 50px;">
                <h4 class="card-title" style="text-align: center;">PASSWORD RECOVER</h4>
                <h6 class="card-subtitle" style="text-align: center;">
                    <p>Veuillez remplir le formulaire pour récupérer votre mot de passe</p><br>

                </h6>
                <form nz-form [formGroup]="validateForm" class="login-form">
                    <div class="row">
                        <div class="col-md-4">
                            <nz-form-item>
                                <nz-form-label nzRequired nzFor="email">E-mail</nz-form-label>
                                <nz-form-control nzErrorTip="The input is not valid E-mail!">
                                    <input nz-input formControlName="email" id="email" [(ngModel)]="email" oninput="this.value=
                    this.value.toUpperCase()" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="col-md-6">
                            <nz-form-item>
                                <nz-form-control>

                                    <button nz-button class="login-form-button" (click)="forget()" [nzType]="'primary'">reset pasword</button>
                                </nz-form-control>
                            </nz-form-item>
                        </div>


                    </div>



                </form>

            </nz-card>

        </div>

    </nz-content>
    <nz-footer>
        <div class="text-center login-footer">
            <strong>Copyright &copy; 2020
                <a href="https://atouts.com">atouts </a>.
            </strong> All rights

        </div>
    </nz-footer>
</nz-layout>