:host {
    text-align: center;
}

nz-card-tab {
    background: #fff;
    color: #fff;
    padding: 0;
    width: 100%;
    z-index: 2;
    position: fixed;
}

nz-content {
    background: #fff;
}

#more {
    display: none;
}

nz-tabset {
    background: #fff;
    padding: 0;
    width: 100%;
    z-index: 2;
    position: fixed;
}

nz-header {
    background: #fff;
    color: #fff;
    padding: 0;
    width: 100%;
}


/* nz-header {
    background: #fff;
    color: #fff;
    padding: 0;
    width: 100%;
    z-index: 2;
    position: fixed;
} */

nz-footer {
    line-height: 1.5;
}

nz-sider {
    color: #fff;
    line-height: 120px;
}

nz-carousel {
    margin-bottom: 0px;
    height: 400px;
    margin: 10px;
}


/* nz-content {
    min-height: 10px;
    line-height: 1.5;
} */


/* [nz-carousel-content] {
    text-align: center;
    height: 160px;
    line-height: 160px;
    color: #fff;
    overflow: hidden;
}
 */

h3 {
    color: #fff;
}


/* nz-layout {
    margin-bottom: 48px;
}

nz-layout:last-child {
    margin: 0;
} */

@media (min-width: 992px) {
    .section-1-container {
        margin-top: 190px;
    }
    .section-description h2 {
        margin-top: 30px;
        padding-bottom: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .section-1-container {
        margin-top: 190px;
    }
    .section-description h2 {
        margin-top: 30px;
        padding-bottom: 10px;
    }
}

@media (max-width: 767px) {
    .section-1-container {
        margin-top: 80px;
    }
    .section-description h2 {
        margin-top: 20px;
        padding-bottom: 10px;
    }
}

@media (max-width: 415px) {
    .section-1-container {
        margin-top: 30px;
    }
    .section-description h2 {
        margin-top: 10px;
        padding-bottom: 10px;
    }
}