<!-- <div class="row">
    <div class="col-md-10">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Nouveau mot de passe</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please
          input your password!">
                    <input nz-input type="password" id="password" formControlName="password" (ngModelChange)="updateConfirmValidator()" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirm nouveau mot de passe</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
                    <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
                    <ng-template #errorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Please confirm your password!
                        </ng-container>
                        <ng-container *ngIf="control.hasError('confirm')">
                            Two passwords that you enter is inconsistent!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row class="register-area">
                <nz-form-control [nzSpan]="14" [nzOffset]="6">
                    <button nz-button nzType="primary">Reset</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>

    <div class="text-center login-footer">
        <strong>Copyright &copy; 2020
            <a href="https://atouts.com">atouts </a>.
        </strong> All rights

    </div>
</div>
 -->





<nz-layout>
    <nz-header>
        <nz-header class="white-bg header-border fixed ant-layout-header">

            <div class="container">
                <div class="logo" style="text-align: left; margin-right: 5px;">
                    <img src="assets/images/banner.jpg">
                </div>


                <nz-tabset nzSize="small" [(nzSelectedIndex)]="selectedIndex" (nzSelectChange)="log(selectedIndex)">
                    <nz-tab *ngFor="let tab of tabs" [nzTitle]="titleTemplate">
                        <ng-template #titleTemplate> <i nz-icon [nzType]="tab.icon"></i>{{ tab.name }} </ng-template>
                    </nz-tab>
                </nz-tabset>
            </div>

        </nz-header>

    </nz-header>
    <nz-content>
        <div class="section-container">
            <nz-card style="width: 100%;">
                <div class="col-md-12 col-sm-12">

                    <br><br><br>
                    <h4 class="card-title" style="text-align: center;">Nouveau mot de passe</h4>
                    <h6 class="card-subtitle" style="text-align: center;">
                        <p>Veuillez remplir le formulaire pour récupérer votre mot de passe</p><br>

                    </h6>
                    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                        <nz-form-item>
                            <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="password" nzRequired style="text-align: start;">Nouveau mot de passe</nz-form-label>
                            <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip=" Le mot de passe doit contenir huit (08) caractères au minimum, au moins une lettre majuscule, une lettre minuscule, un (01) chiffre et un des caractères spéciaux $@%*+-/_!\:">
                                <input nz-input type="password" id="password" formControlName="password" (ngModelChange)="updateConfirmValidator()" />
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="checkPassword" nzRequired style="text-align: start;">Confirme nouveau mot de passe</nz-form-label>
                            <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="errorTpl">
                                <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
                                <ng-template #errorTpl let-control>
                                    <ng-container *ngIf="control.hasError('required')">
                                        Le mot de passe doit contenir huit (08) caractères au minimum, au moins une lettre majuscule, une lettre minuscule, un (01) chiffre et un des caractères spéciaux $@%*+-/_!\:
                                    </ng-container>
                                    <ng-container *ngIf="control.hasError('confirm')">
                                        Deux mots de passe que vous entrez sont incohérents!
                                    </ng-container>
                                </ng-template>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-row class="register-area">
                            <nz-form-control [nzSpan]="14" [nzOffset]="6">
                                <button nz-button nzType="primary">Reset</button>
                            </nz-form-control>
                        </nz-form-item>
                    </form>
                </div>
            </nz-card>

        </div>

    </nz-content>
    <nz-footer>
        <div class="text-center login-footer">
            <strong>Copyright &copy; 2020
                <a href="https://atouts.com">atouts </a>.
            </strong> All rights

        </div>
    </nz-footer>
</nz-layout>