.forget-passeword {
    margin-top: 16px;
    min-height: 50px;
    padding: 20px;
    border: 1px solid #ebedf0;
    border-radius: 5px;
    background: white;
}

:host {
    text-align: center;
}

nz-footer {
    line-height: 1.5;
}

nz-content {
    min-height: 10px;
    line-height: 10px;
    text-align: center;
}

nz-layout {
    margin-bottom: 48px;
}

nz-layout:last-child {
    margin: 0;
}

nz-header {
    background: #fff;
    color: #fff;
    padding: 10;
    width: 100%;
    z-index: 2;
    position: fixed;
}

.logo {
    height: 50px;
    width: 50px;
    vertical-align: middle;
    background: rgba(255, 255, 255, .2);
    margin: 0px 0;
    float: left;
    position: initial;
}